body {
  background-color: black;
  font-family: 'Noto Sans TC', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

.style1 {
  font-size: 200px;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: white;
  position: absolute;
  align:left;
  top: 340px;
  left: -600px;

}

.style2 {
  font-size: 200px;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: white;
  position: absolute;
  align:left;
  top: -230px;
  left: 260px;
}

h3.line1 {
  font-size: 8pt;
  font-family: 'Courier Prime', monospace;
  weight: 400;
  color: white;
  align: right;
  position: absolute;
  right:30px;
  top:15px;

}

h3.line2 {
  font-size: 8pt;
  font-family: 'Courier Prime', monospace;
  weight: 400;
  color: white;
  align: right;
  position: absolute;
  right:30px;
  top:28px;
}


.tag1 {
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
  transition: all 0.7s ease;
  position: absolute;
  top: 198px;
  left: 240px;
}

.tag1:hover {
  -webkit-transform: rotate(20deg);
  transform-origin: top center;
  transform: rotate(20deg);
  cursor: pointer;
}

.tag2 {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 0.7s ease;
  filter: none;
  cursor: pointer;
  position: absolute;
  top: 215px;
  left: 250px;
}

.tag2:hover {
  -webkit-transform: rotate(-8deg);
  transform-origin: top center;
  transform: rotate(-8deg);
  cursor: pointer;
  -webkit-filter: grayscale(100%) invert(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) invert(100%);
}

.tag3 {
  -webkit-transform: rotate(-8deg);
  transform-origin: top center;
  transform: rotate(-8deg);
  transition: all 0.7s ease;
  position: absolute;
  top: 175px;
  left: 270px;
}

.tag3:hover {
  -webkit-transform: rotate(-27deg);
  transform-origin: top center;
  transform: rotate(-27deg);
  cursor: pointer;
}

.imgfilters1 {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.imgfilters1 :hover {
  filter: none;
  cursor: pointer;
}

.overflow-y-hidden {
  overflow-y: hidden
}

.pop-up {
  position: absolute;
  top: 400px;
  left: 450px;
  opacity: 0.0;
}

.pop-up:hover {
  position: absolute;
  top: 240px;
  left: 450px;
  opacity: 1.0;
}

.tag1-02 {
-webkit-transform: rotate(-3deg);
transform: rotate(-3deg);
transition: all 0.7s ease;
position: absolute;
top: 190px;
left: 690px;
}

.tag1-02:hover {
  -webkit-transform: rotate(-7deg);
  transform-origin: top center;
  transform: rotate(-7deg);
  cursor: pointer;
}

.tag2-02 {
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
  transition: all 0.7s ease;
  filter: none;
  cursor: pointer;
  position: absolute;
  top: 205px;
  left: 675px;
}

.tag2-02:hover {
  -webkit-transform: rotate(6deg);
  transform-origin: top center;
  transform: rotate(6deg);
  cursor: pointer;
  -webkit-filter: grayscale(100%) invert(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) invert(100%);
}

.tag3-02 {
  -webkit-transform: rotate(15deg);
  transform-origin: top center;
  transform: rotate(15deg);
  transition: all 0.7s ease;
  position: absolute;
  top: 250px;
  left: 640px;
}

.tag3-02:hover {
  -webkit-transform: rotate(40deg);
  transform-origin: top center;
  transform: rotate(40deg);
  cursor: pointer;
}

.tag1-03 {
-webkit-transform: rotate(3deg);
transform: rotate(3deg);
transition: all 0.7s ease;
position: absolute;
top: 170px;
left: 1015px;
}

.tag1-03:hover {
  -webkit-transform: rotate(9deg);
  transform-origin: top center;
  transform: rotate(9deg);
  cursor: pointer;
}

.tag2-03 {
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  transition: all 0.7s ease;
  filter: none;
  cursor: pointer;
  position: absolute;
  top: 205px;
  left: 1050px;
}

.tag2-03:hover {
  -webkit-transform: rotate(-6deg);
  transform-origin: top center;
  transform: rotate(-6deg);
  cursor: pointer;
  -webkit-filter: grayscale(100%) invert(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) invert(100%);
}

.tag3-03 {
  -webkit-transform: rotate(-20deg);
  transform-origin: top center;
  transform: rotate(-20deg);
  transition: all 0.7s ease;
  position: absolute;
  top: 220px;
  left: 1100px;
}

.tag3-03:hover {
  -webkit-transform: rotate(-40deg);
  transform-origin: top center;
  transform: rotate(-40deg);
  cursor: pointer;
}

.tag1-04 {
-webkit-transform: rotate(-4deg);
transform: rotate(-4deg);
transition: all 0.7s ease;
position: absolute;
top: 770px;
left: 350px;
}

.tag1-04:hover {
  -webkit-transform: rotate(9deg);
  transform-origin: top center;
  transform: rotate(9deg);
  cursor: pointer;
}

.tag2-04 {
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
  transition: all 0.7s ease;
  filter: none;
  cursor: pointer;
  position: absolute;
  top: 790px;
  left: 345px;
}

.tag2-04:hover {
  -webkit-transform: rotate(13deg);
  transform-origin: top center;
  transform: rotate(13deg);
  cursor: pointer;
  -webkit-filter: grayscale(100%) invert(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) invert(100%);
}

.tag3-04 {
  -webkit-transform: rotate(8deg);
  transform-origin: top center;
  transform: rotate(8deg);
  transition: all 0.7s ease;
  position: absolute;
  top: 800px;
  left: 240px;
}

.tag3-04:hover {
  -webkit-transform: rotate(20deg);
  transform-origin: top center;
  transform: rotate(20deg);
  cursor: pointer;
}
