/* Sketch #2 */

body {
  overflow-x: hidden;
}

.container {
position: relative;
width: 1440px;
height: 2650px;
left: -10px;

font-family: 'Inter', sans-serif;
}

.cover {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 925px;
  top: 455px;
  background-color: black;
}

.dot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  right: 931px;
  top: 460px;
  background-color: white;
  animation: movingUpDown 5s infinite ease-in-out;
}

.dot:hover {
  animation-play-state: paused;
  background-color: yellow;
}

@keyframes movingUpDown {
  0% {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 931px;
    top: 460px;
  }
  50% {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 931px;
    top: 100px;
  }
  100% {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 931px;
    top: 460px;
  }
}

/* blackintro */

.blackintro {
position: absolute;
width: 1562px;
height: 772px;
left: -10px;
top: -10px;

background: black;
}

/* interaction: */

.interaction {
position: absolute;
width: 1334px;
height: 465px;
right: -122px;
top: 413px;
text-align: right;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 250px;
line-height: 303px;
letter-spacing: -0.1em;

color: #FFFFFF;
}

/* Rectangle 2 */

.rec2 {
position: absolute;
width: 238px;
height: 700px;
left: 35px;
top: 849px;

background: #000000;
}


/* Rectangle 3 */

.rec3 {
  position: absolute;
  width: 540px;
  height: 211px;
  left: 380px;
  top: 1000px;

  background: linear-gradient(0deg, #000000, #000000), #000000;
  transform: rotate(75.81deg);
  animation: transform 8s infinite ease-in-out;
  animation-delay: 2s;
}

@keyframes transform {
  0% {

  }
  30% {
      position: absolute;
      width: 540px;
      height: 211px;
      left: 35px;
      top: 846px;

      background: linear-gradient(0deg, #000000, #000000), #000000;
      transform: rotate(0deg);}
  70% {
    position: absolute;
    width: 540px;
    height: 211px;
    left: 35px;
    top: 846px;

    background: linear-gradient(0deg, #000000, #000000), #000000;
    transform: rotate(0deg);
  }
  85% {
    position: absolute;
    width: 540px;
    height: 211px;
    left: 380px;
    top: 1000px;

    background: linear-gradient(0deg, #000000, #000000), #000000;
    transform: rotate(75.81deg);
  }
  100% {
  }
}


/* Rectangle 4 */

.rec4 {
  position: absolute;
  width: 540px;
  height: 211px;
  left: 130px;
  top: 1200px;

  background: linear-gradient(0deg, #000000, #000000), #000000;
  transform: rotate(-90deg);
  animation: transform02 8s infinite ease-in-out;
  animation-delay: 2s;
}

@keyframes transform02 {
  0% {

  }
  30% {
    position: absolute;
    width: 540px;
    height: 211px;
    left: 35px;
    top: 1093px;

    background: linear-gradient(0deg, #000000, #000000), #000000;
    transform: rotate(0deg);
  }
  70% {
    position: absolute;
    width: 540px;
    height: 211px;
    left: 35px;
    top: 1093px;

    background: linear-gradient(0deg, #000000, #000000), #000000;
    transform: rotate(0deg);
  }
  85% {
    position: absolute;
    width: 540px;
    height: 211px;
    left: 130px;
    top: 1200px;

    background: linear-gradient(0deg, #000000, #000000), #000000;
    transform: rotate(-90deg);
  }
  100% {}
}


/* Rectangle 5 */

.rec5 {
  position: absolute;
  width: 540px;
  height: 211px;
  left: 412px;
  top: 1390px;

  background: linear-gradient(0deg, #000000, #000000), #000000;
  transform: rotate(-17.32deg);
  animation: transform03 8s infinite ease-in-out;
  animation-delay: 2s;
}

@keyframes transform03 {
  0% {}
  30% {
    position: absolute;
    width: 540px;
    height: 211px;
    left: 35px;
    top: 1338px;

    background: linear-gradient(0deg, #000000, #000000), #000000;
    transform: rotate(0deg);
}
  70% {
    position: absolute;
    width: 540px;
    height: 211px;
    left: 35px;
    top: 1338px;

    background: linear-gradient(0deg, #000000, #000000), #000000;
    transform: rotate(0deg);
  }
  85% {
    position: absolute;
    width: 540px;
    height: 211px;
    left: 412px;
    top: 1390px;

    background: linear-gradient(0deg, #000000, #000000), #000000;
    transform: rotate(-17.32deg);
  }
  100%{}
}

/* EXERCISES */

.exercises {
position: absolute;
width: 489px;
height: 166px;
right: -125px;
top: 821px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 100px;
line-height: 121px;
text-align: right;
letter-spacing: -0.1em;

color: #000000;
}

.exercon {
  position: absolute;
  top: -40px;
  right: 0px;
}


/* 01 */

.e01 {
position: absolute;
width: 159px;
height: 24px;
right: 125px;
top: 1388px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 44px;
text-align: right;
letter-spacing: -0.1em;

color: #000000;
}

/* all-html */

.all-html {
  text-decoration: none;
  position: absolute;
  width: 135px;
  height: 24px;
  right: -125px;
  top: 1388px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: right;

  color: #000000;
}

.all-html:hover {
position: absolute;
width: 135px;
height: 40px;
right: -125px;
top: 1388px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
text-align: right;

color: #000000;
background-color: yellow;
}

/* 02 */

.e02 {
position: absolute;
width: 159px;
height: 25px;
right: 125px;
top: 1433px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 44px;
text-align: right;
letter-spacing: -0.1em;

color: #000000;
}

/* hoverstate */

.hoverstate {
  text-decoration: none;
  position: absolute;
  width: 190px;
  height: 40px;
  right: -125px;
  top: 1433px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: right;

  color: #000000;
}

.hoverstate:hover {
  text-decoration: none;
  position: absolute;
  width: 190px;
  height: 40px;
  right: -125px;
  top: 1433px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: right;

  color: #000000;
  background-color: yellow;
}

/* still-life */

.still-life {
  text-decoration: none;
  position: absolute;
  width: 133px;
  height: 40px;
  right: -125px;
  top: 1479px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: right;

  color: #000000;
}

.still-life:hover {
  text-decoration: none;
  position: absolute;
  width: 133px;
  height: 40px;
  right: -125px;
  top: 1479px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: right;

  color: #000000;
  background-color: yellow;
}

/* 03 */

.e03 {
position: absolute;
width: 159px;
height: 24px;
right: 125px;
top: 1479px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 44px;
text-align: right;
letter-spacing: -0.1em;

color: #000000;
}

/* 04 */

.e04 {
position: absolute;
width: 159px;
height: 25px;
right: 125px;
top: 1524px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 44px;
text-align: right;
letter-spacing: -0.1em;

color: #000000;
}

/* res. wiki */

.res-wiki {
  text-decoration: none;
  position: absolute;
  width: 143px;
  height: 40px;
  right: -125px;
  top: 1524px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: right;

  color: #000000;
}

.res-wiki:hover {
  text-decoration: none;
  position: absolute;
  width: 143px;
  height: 40px;
  right: -125px;
  top: 1524px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: right;

  color: #000000;
  background-color: yellow;
}

/* 05 */

.e05 {
position: absolute;
width: 159px;
height: 25px;
right: 125px;
top: 1569px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 44px;
text-align: right;
letter-spacing: -0.1em;

color: #000000;
}

/* animation */

.animation {
  text-decoration: none;
  position: absolute;
  width: 175px;
  height: 40px;
  right: -125px;
  top: 1569px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: right;

  color: #000000;
}

.animation:hover {
  text-decoration: none;
  position: absolute;
  width: 175px;
  height: 40px;
  right: -125px;
  top: 1569px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: right;

  color: #000000;
  background-color: yellow;
}


.e06 {
position: absolute;
width: 159px;
height: 25px;
right: 125px;
top: 1614px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 44px;
text-align: right;
letter-spacing: -0.1em;

color: #000000;
}

/* animation */

.iframe {
  text-decoration: none;
  position: absolute;
  width: 115px;
  height: 40px;
  right: -125px;
  top: 1614px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: right;

  color: #000000;
}

.iframe:hover {
  text-decoration: none;
  position: absolute;
  width: 115px;
  height: 40px;
  right: -125px;
  top: 1614px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: right;

  color: #000000;
  background-color: yellow;
}

/* PROJECT */

.project {
position: absolute;
width: 490px;
height: 166px;
left: 49px;
top: 1666px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 100px;
line-height: 121px;
letter-spacing: -0.1em;

color: white;
}

.p {
  position: absolute;
  right: -180px;
  top: 35px;
}

/* Rectangle 6 */

.rec6 {
  position: absolute;
  width: 239px;
  height: 702px;
  right: 580px;
  top: 1747.1px;

  background: #FFFFFF;
  transform: rotate(20deg);

  animation: transform06 8s infinite ease-in-out;
  animation-delay: 2s;

}

@keyframes transform06 {
  0% {

  }
  30% {
    position: absolute;
    width: 239px;
    height: 702px;
    right: 345px;
    top: 1745px;
    background: white;
    transform: rotate(0deg);
  }
  70% {
    position: absolute;
    width: 239px;
    height: 702px;
    right: 345px;
    top: 1745px;
    background: white;
    transform: rotate(0deg);
  }
  85% {
    position: absolute;
    width: 239px;
    height: 702px;
    right: 580px;
    top: 1747.1px;

    background: #FFFFFF;
    transform: rotate(20deg);

  }
  100% {}
}

/* Ellipse 3 */

.ell3 {
  position: absolute;
  width: 540px;
  height: 541px;
  right: 44.12px;
  top: 1927px;
  border-radius: 50%;

  background: #FFFFFF;
  animation: transform07 8s infinite ease-in-out;
  animation-delay: 2s;
}

@keyframes transform07 {
  0% {

  }
  30% {
    position: absolute;
    width: 540px;
    height: 541px;
    right: 44px;
    top: 1745px;
    border-radius: 50%;

    background: #FFFFFF;
  }
  70% {
    position: absolute;
    width: 540px;
    height: 541px;
    right: 44px;
    top: 1745px;
    border-radius: 50%;

    background: #FFFFFF;
  }
  85% {
    position: absolute;
    width: 540px;
    height: 541px;
    right: 44.12px;
    top: 1927px;
    border-radius: 50%;

    background: #FFFFFF;

  }
  100% {}
}

/* Rectangle 7 */

.rec7 {
  position: absolute;
  width: 85px;
  height: 30px;
  right: 420px;
  top: 1930px;

  background: #FFFFFF;
  transform: rotate(-30deg);
  animation: transform08 8s infinite ease-in-out;
  animation-delay: 2s;
}

@keyframes transform08 {
  0% {

  }
  30% {
    position: absolute;
    width: 85px;
    height: 30px;
    right: 309px;
    top: 1745px;

    background: white;
    transform: rotate(0deg);
  }
  70% {
    position: absolute;
    width: 85px;
    height: 30px;
    right: 309px;
    top: 1745px;

    background: white;
    transform: rotate(0deg);
  }
  85% {
    position: absolute;
    width: 85px;
    height: 30px;
    right: 420px;
    top: 1930px;

    background: #FFFFFF;
    transform: rotate(-30deg);

  }
  100% {}
}

/* Harmonic Collection */

.harmonic {
  text-decoration: none;
  position: absolute;
  width: 178px;
  height: 74px;
  left: 49px;
  top: 2318px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  /* or 111% */

  color: white;
}

.harmonic:hover {
  text-decoration: none;
  position: absolute;
  width: 178px;
  height: 74px;
  left: 49px;
  top: 2318px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  /* or 111% */

  color: #000000;
  background-color: yellow;
}

/* Parsons CD Interaction 2022 */

.caption {
  position: absolute;
  width: 612px;
  height: 23px;
  right: -125px;
  top: 2621px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  letter-spacing: 0.5em;

  color: black;
}


/* Helen Chen */

.author {
  position: absolute;
  width: 612px;
  height: 23px;
  right: -125px;
  top: 2604px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.1em;

  color: black;
}


/* Line 13 */

.line {
position: absolute;
width: 1352px;
height: 0px;
left: 49px;
top: 2500px;

border: 0.5px solid #000000;
}

.projectdiv {
  position: absolute;
  top: 90px;
  left: 0px;
}

.blackbackground {
  position: absolute;
  width: 1562px;
  height: 892px;
  left: -10px;
  top: 1690px;

  background-color: #000000;
}


@media screen and (min-width: 600px) {
//For Tablets
    .container {
        width: 100;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 738px;
    }

    /* blackintro */

    .blackintro {
    position: absolute;
    width: 1562px;
    height: 720px;
    left: -10px;
    top: -10px;

    background: black;
    }

    /* interaction: */

    .interaction {
    position: absolute;
    width: 1334px;
    height: 465px;
    right: 20px;
    top: 450px;
    text-align: right;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 140px;
    line-height: 303px;
    letter-spacing: -0.1em;

    color: #FFFFFF;
    }

    .rec2 {
      opacity: 0.0;
    position: absolute;
    width: 238px;
    height: 700px;
    left: 35px;
    top: 849px;

    background: #000000;
    }


    /* Rectangle 3 */

    .rec3 {
      opacity: 0.0;
      position: absolute;
      width: 540px;
      height: 211px;
      left: 380px;
      top: 1000px;

      background: linear-gradient(0deg, #000000, #000000), #000000;
      transform: rotate(75.81deg);
      animation: transform 8s infinite ease-in-out;
      animation-delay: 2s;
    }

    @keyframes transform {
      0% {

      }
      30% {
          position: absolute;
          width: 540px;
          height: 211px;
          left: 35px;
          top: 846px;

          background: linear-gradient(0deg, #000000, #000000), #000000;
          transform: rotate(0deg);}
      70% {
        position: absolute;
        width: 540px;
        height: 211px;
        left: 35px;
        top: 846px;

        background: linear-gradient(0deg, #000000, #000000), #000000;
        transform: rotate(0deg);
      }
      85% {
        position: absolute;
        width: 540px;
        height: 211px;
        left: 380px;
        top: 1000px;

        background: linear-gradient(0deg, #000000, #000000), #000000;
        transform: rotate(75.81deg);
      }
      100% {
      }
    }


    /* Rectangle 4 */

    .rec4 {
      opacity: 0.0;
      position: absolute;
      width: 540px;
      height: 211px;
      left: 130px;
      top: 1200px;

      background: linear-gradient(0deg, #000000, #000000), #000000;
      transform: rotate(-90deg);
      animation: transform02 8s infinite ease-in-out;
      animation-delay: 2s;
    }

    @keyframes transform02 {
      0% {

      }
      30% {
        position: absolute;
        width: 540px;
        height: 211px;
        left: 35px;
        top: 1093px;

        background: linear-gradient(0deg, #000000, #000000), #000000;
        transform: rotate(0deg);
      }
      70% {
        position: absolute;
        width: 540px;
        height: 211px;
        left: 35px;
        top: 1093px;

        background: linear-gradient(0deg, #000000, #000000), #000000;
        transform: rotate(0deg);
      }
      85% {
        position: absolute;
        width: 540px;
        height: 211px;
        left: 130px;
        top: 1200px;

        background: linear-gradient(0deg, #000000, #000000), #000000;
        transform: rotate(-90deg);
      }
      100% {}
    }


    /* Rectangle 5 */

    .rec5 {
      opacity: 0.0;
      position: absolute;
      width: 540px;
      height: 211px;
      left: 412px;
      top: 1390px;

      background: linear-gradient(0deg, #000000, #000000), #000000;
      transform: rotate(-17.32deg);
      animation: transform03 8s infinite ease-in-out;
      animation-delay: 2s;
    }

    @keyframes transform03 {
      0% {}
      30% {
        position: absolute;
        width: 540px;
        height: 211px;
        left: 35px;
        top: 1338px;

        background: linear-gradient(0deg, #000000, #000000), #000000;
        transform: rotate(0deg);
    }
      70% {
        position: absolute;
        width: 540px;
        height: 211px;
        left: 35px;
        top: 1338px;

        background: linear-gradient(0deg, #000000, #000000), #000000;
        transform: rotate(0deg);
      }
      85% {
        position: absolute;
        width: 540px;
        height: 211px;
        left: 412px;
        top: 1390px;

        background: linear-gradient(0deg, #000000, #000000), #000000;
        transform: rotate(-17.32deg);
      }
      100%{}
    }
}

@media screen and (min-width: 992px) {
//For Large Laptops
    .container {
        width: 962px;
    }

    .blackintro {
    position: absolute;
    width: 1500px;
    height: 772px;
    left: -10px;
    top: -10px;

    background: black;
    }

    .blackbackground {
      position: absolute;
      width: 1500px;
      height: 892px;
      left: -10px;
      top: 1690px;

      background-color: #000000;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1250px;
    }

    .blackintro {
    position: absolute;
    width: 2000px;
    height: 772px;
    left: -10px;
    top: -10px;

    background: black;
    }

    .blackbackground {
      position: absolute;
      width: 2000px;
      height: 892px;
      left: -10px;
      top: 1690px;

      background-color: #000000;
    }

}


@media screen and (min-width: 1920px) {
    .container {
        width: 1890px;
    }

    .blackintro {
    position: absolute;
    width: 4000px;
    height: 772px;
    left: -10px;
    top: -10px;

    background: black;
    }

    .blackbackground {
      position: absolute;
      width: 4000px;
      height: 892px;
      left: -10px;
      top: 1690px;

      background-color: #000000;
    }
}
@media screen and (min-width: 3840px) {
    .container {
        width: 3810px;
    }

    .blackintro {
    position: absolute;
    width: 10000px;
    height: 772px;
    left: -10px;
    top: -10px;

    background: black;
    }

    .blackbackground {
      position: absolute;
      width: 10000px;
      height: 892px;
      left: -10px;
      top: 1690px;

      background-color: #000000;
    }
}
