/* Sketch #2 */

body {
position: relative;
width: 1440px;
height: 2563px;

font-family: 'Inter', sans-serif;
background-color: white;

overflow-x: hidden;
}

/* blackintro */

.blackintro {
position: absolute;
width: 1562px;
height: 772px;
left: -10px;
top: -10px;

background: black;
}

/* interaction: */

.interaction {
position: absolute;
width: 1334px;
height: 465px;
left: 264px;
top: 413px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 250px;
line-height: 303px;
letter-spacing: -0.1em;

color: #FFFFFF;
}

/* Rectangle 2 */

.rec2 {
position: absolute;
width: 238px;
height: 700px;
left: 35px;
top: 849px;

background: #000000;
}


/* Rectangle 3 */

.rec3 {
position: absolute;
width: 540px;
height: 211px;
left: 35px;
top: 846px;

background: linear-gradient(0deg, #000000, #000000), #000000;
}


/* Rectangle 4 */

.rec4 {
position: absolute;
width: 540px;
height: 211px;
left: 35px;
top: 1093px;

background: linear-gradient(0deg, #000000, #000000), #000000;
}


/* Rectangle 5 */

.rec5 {
position: absolute;
width: 540px;
height: 211px;
left: 35px;
top: 1338px;

background: linear-gradient(0deg, #000000, #000000), #000000;
}

/* EXERCISES */

.exercises {
position: absolute;
width: 489px;
height: 166px;
left: 907px;
top: 821px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 100px;
line-height: 121px;
text-align: right;
letter-spacing: -0.1em;

color: #000000;
}


/* 01 */

.e01 {
position: absolute;
width: 159px;
height: 24px;
left: 1012px;
top: 1388px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 44px;
text-align: right;
letter-spacing: -0.1em;

color: #000000;
}

/* 02 */

.e02 {
position: absolute;
width: 159px;
height: 25px;
left: 1012px;
top: 1433px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 44px;
text-align: right;
letter-spacing: -0.1em;

color: #000000;
}

/* still-life */

.still-life {
position: absolute;
width: 208px;
height: 25px;
left: 1188px;
top: 1433px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
text-align: right;

color: #000000;
}

/* 03 */

.e03 {
position: absolute;
width: 159px;
height: 24px;
left: 1012px;
top: 1479px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 44px;
text-align: right;
letter-spacing: -0.1em;

color: #000000;
}

/* hoverstate */

.hoverstate {
position: absolute;
width: 208px;
height: 24px;
left: 1188px;
top: 1479px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
text-align: right;

color: #000000;
}

/* 04 */

.e04 {
position: absolute;
width: 159px;
height: 25px;
left: 1012px;
top: 1524px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 44px;
text-align: right;
letter-spacing: -0.1em;

color: #000000;
}

/* res. wiki */

.res-wiki {
position: absolute;
width: 208px;
height: 25px;
left: 1188px;
top: 1524px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
text-align: right;

color: #000000;
}

/* PROJECT */

.project {
position: absolute;
width: 490px;
height: 166px;
left: 49px;
top: 1654px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 100px;
line-height: 121px;
letter-spacing: -0.1em;

color: #000000;
}

/* Rectangle 6 */

.rec6 {
position: absolute;
width: 239px;
height: 702px;
left: 869px;
top: 1670px;

background: #000000;
}

/* Ellipse 3 */

position: absolute;
width: 540px;
height: 541px;
left: 869px;
top: 1670px;

background: #000000;


/* Rectangle 7 */

position: absolute;
width: 85px;
height: 30px;
left: 1059px;
top: 1670px;

background: #000000;

/* Harmonic Collection */

position: absolute;
width: 215px;
height: 25px;
left: 49px;
top: 2312px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 40px;
/* or 111% */

color: #000000;


/* Helen Chen Parsons CD Interaction 2022 */

position: absolute;
width: 612px;
height: 23px;
left: 789px;
top: 2477px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
text-align: right;
letter-spacing: 0.1em;

color: #000000;



/* Line 13 */

position: absolute;
width: 1352px;
height: 0px;
left: 49px;
top: 2449px;

border: 1px solid #000000;
